* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --white: white;
  --black: black;
  --red: red;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--black);
  background-color:var(--white);
  line-height: 1.5;
}

h1,
h2,
h3
 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  position:fixed;
  text-align:center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:var(--white);
  font-size:45px;
  height:90px;
  width:100%;
  background-color: var(--black);
}

h1 {
  margin-left: 30px;
}

div.container {
  color: var(--black);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
  display: flex;
  align-items: center;
}

#image{
  width: 80px;
  height: auto;
  margin-left:100px;
}

div.text {
  color: var(--red);
}

h2::first-line {
  font-size:40px;
  color:var(--red);
  background:var(--black);
}

h2[data-attr]:hover {
  transform: skew(20deg);
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed;
  top: 0; 
  left: 0;
  background-color: var(--black);
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration:solid;
  font-size: 25px;
  color: var(--white);
  display: block;
}

.sidenav a:hover {
  color: var(--white);
  transform: rotate(10deg);
  font-size: 30px;
}
main{
  margin-top:20px;
  margin-bottom:45px
}
.hero-banner {
  background: var(--red);
  min-height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
}

.hero-banner div{
  flex: 0 0 90%;
}

.hero-banner h2{
  color: var(--red);
  background-color:var(--black);
  font-size: 2rem;
  margin: 0px;
  display: inline;
  padding:5px 10px;
}

.content{
  max-width: 100%;
  margin-left: 12.5%;
  margin-right:.5%; 
}

.page-section{
  background: var(--red);
  display:block;
  flex-direction: row;
  align-items:stretch;
  flex-wrap: wrap;
  text-align:center;
  justify-content:space-between;
}
h3, span{
  color: var(--black);
  font-size: 22px;
  display: inline;
  background-color: var(--red);
  outline-style: dashed;
  outline-width: 4px;
  outline-color: var(--black);
}
h3:hover{
  font-size: 50px;
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.flex-item {
  border: 5px solid var(--black);
  background-color:var(--white);
  height: 200px;
  flex-basis: calc(26.4% - 1em);
  display:flex;
  align-items:flex-end;
}
.flex-item:first-child{
  height:300px;
  flex-basis:100%;
}
.contact{
  background:var(--red);
  display:block;
  flex-direction: row;
  align-items:stretch;
  flex-wrap: wrap;
  text-align:center;
  justify-content:space-between;
}
.contact a{
  padding: 40px;
  font-size:30px;
  text-decoration:none;
  color:var(--black);
}
.contact a:hover {
  font-size: 20px;
  color:var(--white);
}
.challenge-01{
  background-image: url(https://th.bing.com/th/id/OIP.uhSVNAw2gcD76nnx62Wt8QHaF_?w=259&h=211&c=7&r=0&o=5&pid=1.7);
  background-repeat: no-repeat;
  background-size: 1120px 350px;
  padding:20px;
}
.challenge-02{
  background-image: url(https://th.bing.com/th/id/OIP.64ba2M-sJrpEkig6HpnihwHaFL?w=244&h=180&c=7&r=0&o=5&pid=1.7);
  background-repeat: no-repeat;
  background-size: 272px;
}

@media screen and (max-width:576px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }
  .content {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width:768px) {
.flex-item,
.flex-item:first-child {
  flex-basis: 100%;
}
.flex-item:first-child{
  min-height: 150px;
}
.hero-banner {
  justify-content: center;
  text-align: center;
}
.contact address {
  flex-direction: column;
  align-items: flex-start;
}
}
